<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/twitter/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <p>Welcome to <%= title %></p>
    </div>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript">
    </script>
    <script type="text/javascript" src="/javascripts/core.js"></script>
    <script type="text/javascript" src="/javascripts/work.js"></script>
  </body>
</html>
